@model IEnumerable<Ginilog_AdminWeb.Models.AdminModelTable>

@{
    ViewData["Title"] = "AllStaffData";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!-- Blank Start -->
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">

            <div class="card-body">

                <div style="padding-top:20px"></div>
                <p>
                    <a asp-action="AddStaff" class="btn btn-secondary create-new-button">Add Staff</a>
                </p>
                <h6 class="mb-4">Search Here</h6>
                <form asp-controller="Home" asp-action="AllStaffData" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="id" placeholder="Search: Email, FirstName or LastName" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div style="padding-top:20px"></div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Staff Code</th>
                                <th>Sex</th>
                                <th>StaffType</th>
                                <th>Company</th>
                                <th>Date</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item!.FirstName @item.SurName</td>
                                    <td>@item!.Email</td>
                                    <td>@item!.PhoneNo</td>
                                    <td>@item!.StaffCode</td>
                                    <td>@item!.Sex</td>
                                    <td>@item!.AdminType</td>
                                    <td>@item!.CompanyName</td>
                                    <td>@item!.CreatedAt</td>
                                    <td><a href="@Url.Action("DeleteStaff", "Home", new { id = item!.Id })" class="btn btn-danger">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Blank End -->