
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative mb-5">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/design/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome to GINILOG</h5>
                           
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                A one stop shop for all your logistics and bookings. efficient and tailored to your unique needs. Founded by  a team of innovative minds,
                                who recognized the growing complexity in coordinating
                            </p>
                            <a href="https://manager-web.ginilog.com/" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/design/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome to GINILOG</h5>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                A one stop shop for all your logistics and bookings. efficient and tailored to your unique needs. Founded by  a team of innovative minds,
                                who recognized the growing complexity in coordinating.
                            </p>
                            <a href="https://manager-web.ginilog.com/" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/design/img/about.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3">About Us</h6>
                <h4 class="mb-5">Logistics and Accommodation Solutions</h4>
                <p class="mb-5">
                    At GINILOG, accommodation booking is reimagined as a hassle-free and delightful experience.
                    We believe that finding the perfect place to stay should enhance the joy of any journey. By 
                    integrating user-friendly tools, personalised recommendations, and real-time support, we
                    ensure that every step of the booking process is tailored to meet your needs. Whether you're 
                    seeking luxury or simplicity, GINILOG stands by its promise to offer solutions that transform 
                    accommodation booking into a seamless and satisfying part of your travel adventure.
                </p>
                <h6 class="text-secondary text-uppercase mb-3">Download the Ginilog app</h6>
                <p class="mb-5">Get a fast, reliable & safe refill service just from your convenience; right at your fingertip. </p>
                <div class="row g-4 mb-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <a href="" class="btn btn-dark py-3 px-5"><i class="fab fa-google-play me-2"></i> Google Play</a>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <a href="" class="btn btn-dark py-3 px-5"><i class="fab fa-apple me-2"></i> Apple Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Services</h6>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/logistics.png" alt="">
                    </div>
                    <h4 class="mb-3">Logistics Solutions</h4>
                    <p>
                        GINILOG Logistics, where excellence in delivering your orders is just the beginning. 
                        At GINILOG, we are dedicated to providing not only exceptional logistics services but 
                        also the knowledge to make informed decisions.
                    </p>
                    <ul>
                        <li>Warehouse and distribution.</li>
                        <li>Supply chain management and optimization.</li>
                        <li>Route connections and optimization.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/industry.png" alt="">
                    </div>
                    <h4 class="mb-3">Delivery Solutions</h4>
                    <p>
                        GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                        At GINILOG, we are dedicated to providing not only exceptional logistics services but 
                        also the knowledge to make informed decisions.
                    </p>
                    <ul>
                        <li>Your Product is safe with us.</li>
                        <li>We serve industries.</li>
                        <li>Exclusive and luxurious stays.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/accommodation.png" alt="">
                    </div>
                    <h4 class="mb-3">Bookings Solution</h4>
                    <p>GINILOG Logistics, where excellence in delivering your orders is just the
                        beginning. At GINILOG, we are dedicated to providing not only exceptional 
                        logistics services but also the knowledge to make informed decisions.</p>
                    <ul>
                        <li>Hotel and resort bookings.</li>
                        <li>Serviced apartments and vacation rentals.</li>
                        <li>Exclusive and luxurious stays.</li>
                    </ul>
                </div>
            </div>

           
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Feature Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container feature py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Our Features</h6>
                <h4 class="mb-5">Experience Seamless Logistics Solutions and Community Engagement</h4>
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                    <i class="fa fa-circle text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <p class="mb-0">Inclusive Community: Everyone is welcome and has a role to play in our community.</p>
                    </div>
                </div>
                <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-circle text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <p class="mb-0">Seamless Trip Planning: We offer a stress-free and enjoyable trip planning experience.t</p>
                    </div>
                </div>
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.7s">
                    <i class="fa fa-circle text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <p class="mb-0">Knowledge and Solutions: Access the information you need to make informed logistics decisions and everything you need while planning your trips.</p>
                    </div>
                </div>
                <div class="d-flex mb-0 wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-circle text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <p class="mb-0">Community Growth: Join a community that grows together and supports each other's success.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/design/img/communityEngage.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<div class="text-center">
    <h6 class="text-secondary text-uppercase"></h6>
    <h4 class="mb-0">How it Works</h4>
</div>
<div class="tracking-container">

    
    <div class="step-box">
        <div class="step-icon"><i class="fas fa-sign-in-alt"></i></div>
        <div class="step-text">
            <strong>STEP ONE</strong>
            <div>Courier Requested</div>
        </div>
    </div>

    <div class="step-box">
        <div class="step-icon"><i class="fas fa-file-alt"></i></div>
        <div class="step-text">
            <strong>STEP TWO</strong>
            <div>Package is Ready</div>
        </div>
    </div>

    <div class="step-box">
        <div class="step-icon"><i class="fas fa-truck-moving"></i></div>
        <div class="step-text">
            <strong>STEP THREE</strong>
            <div>Package in Transit</div>
        </div>
    </div>

    <div class="step-box">
        <div class="step-icon"><i class="fas fa-gas-pump"></i></div>
        <div class="step-text">
            <strong>STEP FOUR</strong>
            <div>Package in Transit</div>
        </div>
    </div>

    <div class="step-box">
        <div class="step-icon"><i class="fas fa-truck"></i></div>
        <div class="step-text">
            <strong>STEP FIVE</strong>
            <div>Package Delivered</div>
        </div>
    </div>
</div>


  

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Testimonial</h6>
            <h4 class="mb-0">Our Clients Say!</h4>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Toke Oleoluwa</h5>
                    </div>
                </div>
                <p class="mb-0">GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the 
                    knowledge to make informed decisions.</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Okonkwo David</h5>
                    </div>
                </div>
                <p class="mb-0">GINILOG Logistics, where excellence in delivering your orders is just the beginning. 
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the 
                    knowledge to make informed decisions.</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Onyia Chikamso</h5>
                    </div>
                </div>
                <p class="mb-0">GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the
                    knowledge to make informed decisions. </p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Chike Goodness</h5>
                    </div>
                </div>
                <p class="mb-0">Booking a Hotel using GINILOG App was very soomthly and easy, is also has a good
                    hotels with good price range. I recommend it to any one looking for Hotel or service apartment
                    to use it for themselves.</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
