
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
       
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Services</h6>
            <h4 class="mb-5">Explore Our Services</h4>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/logistics.png" alt="">
                    </div>
                    <h4 class="mb-3">Logistics Solutions</h4>
                    <p>
                        GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                        At GINILOG, we are dedicated to providing not only exceptional logistics services but
                        also the knowledge to make informed decisions.
                    </p>
                    <ul>
                        <li>Warehouse and distribution.</li>
                        <li>Supply chain management and optimization.</li>
                        <li>Route connections and optimization.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/industry.png" alt="">
                    </div>
                    <h4 class="mb-3">Industrial Solutions</h4>
                    <p>
                        GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                        At GINILOG, we are dedicated to providing not only exceptional logistics services but
                        also the knowledge to make informed decisions.
                    </p>
                    <ul>
                        <li>Your Product is safe with us.</li>
                        <li>We serve industries.</li>
                        <li>Exclusive and luxurious stays.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/accommodation.png" alt="">
                    </div>
                    <h4 class="mb-3">Bookings Solution</h4>
                    <p>
                        GINILOG Logistics, where excellence in delivering your orders is just the
                        beginning. At GINILOG, we are dedicated to providing not only exceptional
                        logistics services but also the knowledge to make informed decisions.
                    </p>
                    <ul>
                        <li>Hotel and resort bookings.</li>
                        <li>Serviced apartments and vacation rentals.</li>
                        <li>Exclusive and luxurious stays.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/service-4.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Train Freight</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/service-5.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Customs Clearance</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="~/design/img/service-6.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Warehouse Solutions</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Testimonial</h6>
            <h4 class="mb-0">Our Clients Say!</h4>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Toke Oleoluwa</h5>
                    </div>
                </div>
                <p class="mb-0">
                    GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the
                    knowledge to make informed decisions.
                </p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Okonkwo David</h5>
                    </div>
                </div>
                <p class="mb-0">
                    GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the
                    knowledge to make informed decisions.
                </p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Onyia Chikamso</h5>
                    </div>
                </div>
                <p class="mb-0">
                    GINILOG Logistics, where excellence in delivering your orders is just the beginning.
                    At GINILOG, we are dedicated to providing not only exceptional logistics services but also the
                    knowledge to make informed decisions.
                </p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <div class="ms-4">
                        <h5 class="mb-1">Chike Goodness</h5>
                    </div>
                </div>
                <p class="mb-0">
                    Booking a Hotel using GINILOG App was very soomthly and easy, is also has a good
                    hotels with good price range. I recommend it to any one looking for Hotel or service apartment
                    to use it for themselves.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
