@model Ginilog_Company_WebDasboard.Models.ResetPasswordRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password - Ginilog Admin Panel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- base:css -->
    <link rel="stylesheet" href="~/designs/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/designs/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/designs/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/designs/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/designs/images/favicon1.png" />
</head>
<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/designs/images/logo-dark1.svg" alt="logo">
                            </div>
                            <h4>Change Password</h4>
                            <h6 class="font-weight-light">Change of password!</h6>
                            <form class="pt-3" asp-action="RessetPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label for="exampleInputEmail">Token</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-account-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Token" type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Token">

                                    </div>
                                    <span asp-validation-for="Token" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail">Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-account-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Password">

                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-account-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Confirm Password">

                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span class="text-danger">@ViewBag.UserError</span>
                                </div>

                                <div class="my-3">
                                    <button type="submit" class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2025  All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- plugins:js -->
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/designs/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/designs/js/off-canvas.js"></script>
    <script src="~/designs/js/hoverable-collapse.js"></script>
    <script src="~/designs/js/template.js"></script>


    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
