@model Ginilog_AdminWeb.Models.ResetPasswordRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password - Ginilog Admin Panel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/new/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/new/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/new/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/new/assets/images/favicon1.png" />
</head>
<body>


    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            <form asp-action="RessetPassword">
                                <div class="form-group">
                                    <label>Token *</label>
                                    <input asp-for="Token" type="text" class="form-control p_input" placeholder="Token">
                                    <span asp-validation-for="Token" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input asp-for="Password" type="password" class="form-control p_input" placeholder="Paswword">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password *</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control p_input" placeholder="Confirm Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- plugins:js -->
    <script src="~/new/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/new/assets/js/off-canvas.js"></script>
    <script src="~/new/assets/js/hoverable-collapse.js"></script>
    <script src="~/new/assets/js/misc.js"></script>
    <script src="~/new/assets/js/settings.js"></script>
    <script src="~/new/assets/js/todolist.js"></script>


    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
