@model Ginilog_Company_WebDasboard.Models.LogisticsModel.AddCompany

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Company - Ginilog Admin Panel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- base:css -->
    <link rel="stylesheet" href="~/designs/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/designs/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/designs/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/designs/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/designs/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/designs/vendors/jquery-bar-rating/fontawesome-stars-o.css">
    <link rel="stylesheet" href="~/designs/vendors/jquery-bar-rating/fontawesome-stars.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/designs/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/designs/images/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuU7j9XnHs31-I6NE7cz_SxOw3lzScFuo&libraries=places"></script>
    <script>

                  // your initAutocomplete function goes here

                function initAutocomplete() {
            const autocompleteInput = document.getElementById('autocomplete');
            const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
                types: ['geocode']
            });

            autocomplete.setFields(['place_id']);

            autocomplete.addListener('place_changed', function () {
                const place = autocomplete.getPlace();
                const placeId = place.place_id;

                // Set hidden input value
                document.getElementById('PlaceId').value = placeId;
            });
            }

        google.maps.event.addDomListener(window, 'load', initAutocomplete);

    </script>
</head>
<body>



    <div class="content-wrapper">
        <div style="padding-top:20px"></div>
       
        <h6 class="mb-4">Complete Registration</h6>
        <hr />
        <form asp-action="AddLogCompany" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label>Company Email</label>
                <input asp-for="ManagerId" value="@ViewBag.Managers" hidden type="text" class="form-control" placeholder="Company Email" />
                <input asp-for="CompanyName" value="@ViewBag.CompanyNamme " hidden type="text" class="form-control" placeholder="Company Email" />
                <input asp-for="CompanyEmail" type="email" class="form-control" placeholder="Company Email" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label>Company Phone Number</label>
                <input asp-for="PhoneNumber" type="tel" maxlength="11" pattern="\d{10,11}" class="form-control" placeholder="Company PhoneNo" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company Logo</label>
                <input id="LogoUpload" asp-for="LogoUpload" type="file" accept="image/*" class="form-control" placeholder="Company Logo" />
                <span asp-validation-for="LogoUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company Reg No</label>
                <input asp-for="CompanyRegNo" type="text" class="form-control" placeholder="Company Reg No" />
                <span asp-validation-for="CompanyRegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company Info</label>
                <textarea asp-for="CompanyInfo" class="form-control" placeholder="Company Info"></textarea>
                <span asp-validation-for="CompanyInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company Charge</label>
                <input asp-for="ValueCharge" type="number" class="form-control" placeholder="Company Value Charge" />
                <span asp-validation-for="ValueCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company No Of Trucks</label>
                <input asp-for="NoOfTrucks" type="number" class="form-control" placeholder="Company No of trucks" />
                <span asp-validation-for="NoOfTrucks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Company No of Bikes</label>
                <input asp-for="NofOfBikes" class="form-control" placeholder="Company No of trucks" />
                <span asp-validation-for="NofOfBikes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Company Address</label>
                <input id="autocomplete" type="text" class="form-control p_input" placeholder="Start typing an address...">
                <!-- Hidden fields to hold extracted data -->
                <input type="hidden" asp-for="CompanyAddress" id="PlaceId" />

                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Bank Name</label>
                <input asp-for="BankName" class="form-control" placeholder="Bank Name" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Account Name</label>
                <input asp-for="AccountName" class="form-control" placeholder="Account Name" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Account Number</label>
                <input asp-for="AccountNumber" class="form-control" placeholder="Account Number" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Delivery Type</label>
                <select asp-for="DeliveryTypes" multiple class="form-control p_input" aria-label="Floating label select example">
                    <option value="Same State">Same State</option>
                    <option value="Inter state">Inter state</option>
                    <option value="Charter">Charter</option>
                    <option value="International">International</option>
                </select>
                <span asp-validation-for="DeliveryTypes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Service Areas</label>
                <input asp-for="ServiceArea" class="form-control" placeholder="engu,kano" />
                <span asp-validation-for="ServiceArea" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block enter-btn">Add Now</button>
        </form>
    </div>

    <!-- base:js -->
    <script src="~/designs/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/designs/js/off-canvas.js"></script>
    <script src="~/designs/js/hoverable-collapse.js"></script>
    <script src="~/designs/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/designs/vendors/chart.js/Chart.min.js"></script>
    <script src="~/designs/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/designs/js/dashboard.js"></script>
    <script>

        

    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

